#wrapper,
#root,
html {
  height: 100%;
  margin: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  display: flex;
  flex-flow: column;
  height: 100vh;
}