#menu-text {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

#search-bar {
    min-width: 400px;
}

#search-button {
    margin-left: 10px;
}

#filter {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 30%;
    padding-right: 12px;
}

#menubar {
    background-color: #ff822c;
    border-bottom: 1px solid rgb(189, 189, 189);
    padding: 0;
}