#search {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: white;
}

#search-toparea {
    height: 5vh;
}

#search-searcharea {
    display: flex;
    height: 12vh;
    justify-content: center;
    align-items: center;
}

#search-bar {
    min-width: 400px;
    width: 100%;
}

#search-resultarea {
    flex-grow: 1;
}