# Author: David Oesch, https://github.com/davidoesch/geoservice_harvester_poc
# This is copy of the workflow file run by github actions

name: Run scraper

on:
  schedule:
    - cron: "3 0 * * 0"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    # cf. https://docs.github.com/en/github/setting-up-and-managing-billing-and-payments-on-github/about-billing-for-github-actions
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./scraper

    steps:
      - name: Checkout the repository
        uses: actions/checkout@main

      - name: Increase git buffer size
        run: |
          git config --global http.postBuffer 1048576000

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Python script
        run: |
          python scraper.py
        env: # Set the secrets as env var
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}

      # - name: Push log files to repo
      #   uses: github-actions-x/commit@v2.9
      #   with:
      #     push-branch: "main"
      #     commit-message: "Scraper done"
      #     force-add: "true"
      #     files: tools/
      #     name: autoupdate
      
      - name: Debugging
        run: |
          pwd
          ls data
          ls tools
          echo "---"

      # Subsequent "on push" Actions are only triggered if this
      # push is done with a Personal Access Token (PAT)
      - name: Push contents of data folder to repo
        uses: github-actions-x/commit@v2.9
        with:
          push-branch: "main"
          commit-message: "Scraper done"
          force-add: "true"
          files: scraper/data/
          name: autoupdate
